<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="10"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="luonsuynghi@gmail.com"/>
  <add key="FromEmailPassword" value="jadevine06021993"/>
  <add key="FromName" value="JejeShop"/>
  <add key="AdminEmail" value="huynh.ngocgiau021993@gmail.com"/>
</appSettings>