<connectionStrings>
  <clear />
  <add name="jejeShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=jejeshop;Integrated Security=False;User ID=sa;Password=jadevine06021993;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>